.main {
  width: 100%;
  height: 100vh; 
  background-image: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/technology/apps/shutterstock_240459751.jpg'); /* Update with the path to your image */
  background-size: cover; 
  background-position: center; 
  position: relative;
  overflow: hidden; 
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.dynamic-graphic {
  position: absolute;
  width: 100px;
  height: 100px; 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  animation: float 6s ease-in-out infinite;
  
}
